$light-yellow: #F7F39A;
$black: #212125;
$green: #239D60;
@font-face {
    font-family: VCR-OSD-Mono;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

@font-face {
    font-family: Mojipon;
    src: url(MojiponDisplay-Regular.ttf);
}

body {
    background-color: $light-yellow;
    h1 {
        color:$black;
        font-family: Mojipon;
        text-align: center;
        font-size: 64px;
    }
    p {
        color:$black;
        font-family:VCR-OSD-Mono;
        text-align: center;
        font-size: 32px;
    }
}

.button {
    background-color: $green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    img {
        width:128px;
    }
}
.button1 {
    background-color: black;
}
.button2 {
    background-color:#a3855b;
}