$light-green: #C3E8BD;
$black: #191923;
$green: #9DDBAD;
$dark-green: #5B7553;
@font-face {
    font-family: VCR OSD Mono;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

@font-face {
    font-family: Mojipon;
    src: url(MojiponDisplay-Regular.ttf);
}

@font-face {
    font-family: Old London;
    src: url(OldLondon.ttf);
}

@font-face {
    font-family: Dinopia;
    src: url(DinopiaRegular-mLrO9.otf);
}

@font-face {
    font-family: Ginto Nord;
    src: url(ABCGintoNord-Bold-Trial-BF651b7b7670e10.otf);
}

@font-face {
    font-family: Pico;
    src: url(PICOBLA_.TTF);
}

@font-face {
    font-family: Youtube Sans;
    src: url(youtube-sans-bold.ttf);
}

@font-face {
    font-family: Hare;
    src: url(Hare-PKeLr.otf);
}

@font-face {
    font-family: Droid Sans;
    src: url(DroidSans.ttf);
}

@font-face {
    font-family: Apex Sans;
    src: url(ApexSansBook.woff);
}

nav {
    border:black 5px solid;
    background-color:white;
    padding:4px;
    ul {
        li {
            list-style-type:none;
            display:inline;
            margin:5px;
            border-right:2px $black solid;
            padding-right: 10px;
            font-family: "Droid Sans";
            &:last-child {
                border-right: none;
            }
        }
    }
}

html {
    background: $light-green;
    background-image: linear-gradient(to bottom, $light-green, $dark-green);
    background-attachment: fixed;
    height:auto;
}
h2 {
    color:$black;
    font-family:Mojipon;
    text-align: center;
    font-size: 48px;
}

.textbox {
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    width:80%;
    margin: 20px auto;
    h1 {
        color:$black;
        font-family: Mojipon;
        text-align: center;
        font-size: 5vw;
    }
    h2 {
        margin:0;
    }
    p {
        font-family: "Droid Sans";
        font-size:1.25rem;
        margin:10px 15px;
        &#intro-description{
            color:$black;
            font-family:VCR OSD Mono;
            text-align: center;
            font-size: 2.5vw;
        }
    }
    
}

#about-me {
    padding:20px;
    display:flex;
}

img#profile-pic {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    display:block;
    margin: 20px auto;
}

.container {
    display:flex;
    justify-content:space-evenly;
    width:100%;
    align-items:center;
}

.button {
    background-color: $green;
    border: none;
    h2 {
        color: white;
    }
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size:24px;
    max-width:256px;
    cursor: pointer;
    img {
        min-width:32px;
        max-width:128px;
        display:block;
        margin:10px auto;
    }
}
#asc2026 {
    background-color: #804795;
    font-family:Hare;
}
#afc2025 {
    background-color:#a3855b;
    font-family:Old London;
}
#afc2024 {
    background-color:#7a450f;
    font-family:Dinopia;
}

#acronymify {
    background-color:#ffffff;
    color: $black;
    font-family:VCR OSD Mono;
}

#discord {
  background-color: #5865F2;
  h2 {
    font-family: Ginto Nord;
    font-size: 2.5rem;
  }
  padding: 15px 5%;
}

#twitter {
  background-color: #1DA1F2;
  h2 {
    font-family: Pico;
  }
  padding: 15px 5%;
}

#youtube {
  background-color: red;
  h2 {
    font-family: Youtube Sans;
  }
  padding: 15px 5%;
}

#github {
  background-color: black;
  h2 {
    font-family: Apex Sans;
  }
  padding: 15px 5%;
}

.contact-container {
    display:flex;
    align-items:center;
    justify-content:space-around;
}


@media screen and (max-width: 768px) {
    .textbox {
        max-width:100%;
        margin: 10px auto;
        h1 {
            font-size: 8vw;
        }
        p#intro-description{
            font-size: 4vw;
        }
    }

    .container {
        flex-direction:column;
    }
}
