$light-green: #C3E8BD;
$black: #191923;
$green: #9DDBAD;
$dark-green: #5B7553;
@font-face {
    font-family: VCR OSD Mono;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

@font-face {
    font-family: Mojipon;
    src: url(MojiponDisplay-Regular.ttf);
}

@font-face {
    font-family: Old London;
    src: url(OldLondon.ttf);
}

@font-face {
    font-family: Dinopia;
    src: url(DinopiaRegular-mLrO9.otf);
}

@font-face {
    font-family: Ginto Nord;
    src: url(ABCGintoNord-Bold-Trial-BF651b7b7670e10.otf);
}

@font-face {
    font-family: Pico;
    src: url(PICOBLA_.TTF);
}

@font-face {
    font-family: Youtube Sans;
    src: url(youtube-sans-bold.ttf);
}

@font-face {
    font-family: Ft Vortex;
    src: url(FtVortex-G3ZDy.otf);
}

nav {
    border:black 5px solid;
    background-color:white;
    padding:8px;
    ul {
        li {
            list-style-type:none;
            display:inline;
            margin:5px;
            border-right:2px $black solid;
            padding-right: 10px;
            &:last-child {
                border-right: none;
            }
        }
    }
}
html {
    background: $light-green;
    background-image: linear-gradient(to bottom, $light-green, $dark-green); 
    height:100%;
}
body {
    h1 {
        color:$black;
        font-family: Mojipon;
        text-align: center;
        font-size: 64px;
    }
    p {
        color:$black;
        font-family:VCR OSD Mono;
        text-align: center;
        font-size: 32px;
    }
}

#container {
    display:flex;
    justify-content:space-evenly;
    width:100%;
    align-items:center;
}

.button {
    background-color: $green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size:24px;
    max-width:256px;
    cursor: pointer;
    img {
        min-width:32px;
        max-width:128px;
        display:block;
        margin:auto;
    }
}
.button1 {
    background-color: #000055;
    font-family:Ft Vortex;
    img {
        filter: invert(100)
    }
}
.button2 {
    background-color:#a3855b;
    font-family:Old London;
}
.button3 {
    background-color:#7a450f;
    font-family:Dinopia;
}

#discord {
  background-color: #5865F2;
  font-family: Ginto Nord;
  padding: 15px 5%;
}

#twitter {
  background-color: #1DA1F2;
  font-family: Pico;
  padding: 15px 5%;
}

#youtube {
  background-color: red;
  font-family: Youtube Sans;
  padding: 15px 5%;
}

.contact-container {
    display:flex;
    align-items:center;
    justify-content:space-around;
}


@media screen and (max-width: 768px) {
    #container {
        flex-direction:column;
    }
}
